body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding; 0;
    color: linen;
    background-color: rgb(20, 30, 40);
    
}
header{
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
nav{
    width:100%;
  
    height: 50px;
    margin: 0 auto;
    display: block;
}  
nav > ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
} 
nav > ul > li{
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-weight: 700;
}
nav > ul > li:hover{
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}
li > a {
    color: inherit;
    text-decoration: none;
}

.background{
    background: radial-gradient(
        closest-corner circle at 0% 0%,
        #ccc,
        #ccc 20%,
        #445 21%,
        #223 100%
      );
  }


h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 100%;
}
.half-width img{
    width: 100%;
}
#first-img{
    width: 607px;
    height: 487px;
}
#second-img{
    width: 515px;
    height: 487px;
}
#third-img{
    width: 607px;
    height: 487px;
}
.top-banner{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    padding-top: 150px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 50px;
}

.contact-wrap{
    width: 50%;
}
section{
    
    margin: 0 auto 10px auto;
    
    padding-bottom: 150px;
}

.button{
    margin: 35px 0px;
    
}

.link-button{
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 10px 25px;
    color: white;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    font-weight: 700;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: auto;
    padding: 20px;
}
.single-experience h2{
    margin: 0px;
    padding-bottom: 5px;
}
#exp-size{
    margin-left: 105px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area .ex-title{
    text-align: center;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.icon {
    border-radius: 5px;
    margin: 5px 5px;
    padding: 10px 25px;
    color: rgb(16, 15, 15);
    background-color: #ccc;
    font-weight: 700;
    text-decoration: none;
}
.f-icon {
    margin-right: 10px;
    
}

footer p{
    text-align: center;
    font-size: 12px;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.dream_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.experience{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.contact_us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  
